<a href="https://colab.research.google.com/github/lismarcarolinacamacho/PYTHON-tkinter/blob/main/prueba_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = np.array([['','col1','col2'], ['fila1',1,2], ['fila2',3,4]])
print(pd.DataFrame(data=data[1:,1:], index=data[1:,0], columns=data[0,1:]))

      col1 col2
fila1    1    2
fila2    3    4

In [56]:
df = pd.DataFrame(np.array([[1,2,3], [4,5,6], [7,8,9]]))
print('DataFrame:')
print(df)

DataFrame:
   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [58]:
#media de las columnas
print(df.mean())

0    4.0
1    5.0
2    6.0
dtype: float64

In [25]:
#series
series = pd.Series({"Argentina": "Buenos Aires",
                "Chile": "Santiago de Chile",
                "Colombia": "Bogotá"})
print('Series:')
print(series)

Series:
Argentina         Buenos Aires
Chile        Santiago de Chile
Colombia                Bogotá
dtype: object

In [57]:
#conteo de datos del dataframe

print(series.count())
print(df.count())

3
0    3
1    3
2    3
dtype: int64

In [59]:
#forma del dataframe

print(data.shape)
print(df.shape)

(3, 3)
(3, 3)

In [60]:
print(series.describe()) # estadisticas del data frame
print(df.describe())

count          3
unique         3
top       Bogotá
freq           1
dtype: object
         0    1    2
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [61]:
#altura del dataframe

print(len(series.index))
print(len(df.index))

3
3

In [65]:
# correlacion del dataframe

print(df.corr())

     0    1    2
0  1.0  1.0  1.0
1  1.0  1.0  1.0
2  1.0  1.0  1.0

In [66]:
#valor mas alto

print(df.max())

0    7
1    8
2    9
dtype: int64

In [67]:
#valor mas bajo

print(df.min())

0    1
1    2
2    3
dtype: int64

In [68]:
#mediana

print(df.median())

0    4.0
1    5.0
2    6.0
dtype: float64

In [69]:
#desviacion estandar

print(df.std)

<bound method DataFrame.std of    0  1  2
0  1  2  3
1  4  5  6
2  7  8  9>

In [71]:
#seleccionar un indice o columna de un dataframe

#primera columna de un dataframe

print(df[0])

0    1
1    4
2    7
Name: 0, dtype: int64

In [72]:
#dos columnas de un dataframe

print(df[[0,1]])

   0  1
0  1  2
1  4  5
2  7  8

In [73]:
#primera fila y ultima columna

print (df.iloc[0][2])

3