<a href="https://colab.research.google.com/github/lismarcarolinacamacho/PYTHON/blob/main/prueba_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = np.array([['','col1','col2'], ['fila1',1,2], ['fila2',3,4]])
print(pd.DataFrame(data=data[1:,1:], index=data[1:,0], columns=data[0,1:]))

      col1 col2
fila1    1    2
fila2    3    4

In [ ]:
df = pd.DataFrame(np.array([[1,2,3], [4,5,6], [7,8,9]]))
print('DataFrame:')
print(df)

DataFrame:
   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
#media de las columnas
print(df.mean())

0    4.0
1    5.0
2    6.0
dtype: float64

In [ ]:
#series
series = pd.Series({"Argentina": "Buenos Aires",
                "Chile": "Santiago de Chile",
                "Colombia": "Bogotá"})
print('Series:')
print(series)

Series:
Argentina         Buenos Aires
Chile        Santiago de Chile
Colombia                Bogotá
dtype: object

In [ ]:
#conteo de datos del dataframe

print(series.count())
print(df.count())

3
0    3
1    3
2    3
dtype: int64

In [ ]:
#forma del dataframe

print(data.shape)
print(df.shape)

(3, 3)
(3, 3)

In [ ]:
print(series.describe()) # estadisticas del data frame
print(df.describe())

count          3
unique         3
top       Bogotá
freq           1
dtype: object
         0    1    2
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [ ]:
#altura del dataframe

print(len(series.index))
print(len(df.index))

3
3

In [ ]:
# correlacion del dataframe

print(df.corr())

     0    1    2
0  1.0  1.0  1.0
1  1.0  1.0  1.0
2  1.0  1.0  1.0

In [ ]:
#valor mas alto

print(df.max())

0    7
1    8
2    9
dtype: int64

In [ ]:
#valor mas bajo

print(df.min())

0    1
1    2
2    3
dtype: int64

In [ ]:
#mediana

print(df.median())

0    4.0
1    5.0
2    6.0
dtype: float64

In [ ]:
#desviacion estandar

print(df.std)

<bound method DataFrame.std of    0  1  2
0  1  2  3
1  4  5  6
2  7  8  9>

In [ ]:
#seleccionar un indice o columna de un dataframe

#primera columna de un dataframe

print(df[0])

0    1
1    4
2    7
Name: 0, dtype: int64

In [ ]:
#dos columnas de un dataframe

print(df[[0,1]])

   0  1
0  1  2
1  4  5
2  7  8

In [ ]:
#primera fila y ultima columna

print (df.iloc[0][2])

3

In [ ]:
# valores de la primera fila del dataframe

print(df.iloc[0,:])

0    1
1    2
2    3
Name: 0, dtype: int64

In [79]:
#importar un archivo

data_car = pd.read_csv('car.data')

In [ ]:
# luego de hacer cambios al dataframe se puede guardar:

# pd.to_tipoarchivo(nombrearchivo)

In [80]:
data_car.head(5)

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [81]:
data_car.columns = ['price', 'maintenance', 'n_doors', 'capacity', 'size_lug', 'safety', 'class']

In [82]:
data_car.head(5)

   price maintenance n_doors capacity size_lug safety  class
0  vhigh       vhigh       2        2    small    med  unacc
1  vhigh       vhigh       2        2    small   high  unacc
2  vhigh       vhigh       2        2      med    low  unacc
3  vhigh       vhigh       2        2      med    med  unacc
4  vhigh       vhigh       2        2      med   high  unacc

In [83]:
print(data_car.isnull())

      price  maintenance  n_doors  capacity  size_lug  safety  class
0     False        False    False     False     False   False  False
1     False        False    False     False     False   False  False
2     False        False    False     False     False   False  False
3     False        False    False     False     False   False  False
4     False        False    False     False     False   False  False
...     ...          ...      ...       ...       ...     ...    ...
1722  False        False    False     False     False   False  False
1723  False        False    False     False     False   False  False
1724  False        False    False     False     False   False  False
1725  False        False    False     False     False   False  False
1726  False        False    False     False     False   False  False

[1727 rows x 7 columns]

In [85]:
print(data_car.isnull().sum()) # obtener una suma de valores nulos

price          0
maintenance    0
n_doors        0
capacity       0
size_lug       0
safety         0
class          0
dtype: int64

In [ ]:
#pd.dropna() # para eliminar filas

In [ ]:
# data_car.dropna(axis = 1)
#eliminar datos perdidos

In [ ]:
# rellenar con otroa valores
# data_car.fillna(x)

# se puede reemplazar los datos faltantes con la media

# print(data_car.fillna(data_car.mean()))